
#app-region {
	background-color: red;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#resident-list-region {
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
    width: 200px;
}

#selected-resident-region {
	position: absolute;
	top: 50px;
	bottom: 0;
	right: 0;
	left: 200px;
}